@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --maincolor:#f75c2d;
    --textcolor:#adabab;
    --whitecolor:#e1e1e1;
    --blackcolor:#111;
    --bgcolor:#070707;
    /* --bgcolor:#000; */
}
html,body{
    overflow-x:hidden ;
    scroll-behavior: smooth;
    background: var(--bgcolor);
    color: var(--whitecolor);
    font-family: 'Poppins', sans-serif;
    /* font-size: 60%; */
}
.navbar{
    position: fixed;
    height: 15vh;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 4rem;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo{
    margin-left: 2rem;
    color: var(--whitecolor);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
      
}
.logo:hover{
    color: var(--maincolor);
    text-shadow: 0 0 25px var(--maincolor);
    transform: scale(1.1);
}
.navlinks a{
    color: var(--whitecolor);
    font-size: 1.2rem;
    margin-left: 2rem;
    transition: 0.3s ease;
}
.navlinks a:hover,
.navlinks a.active{
    color: var(--maincolor);
    text-shadow: 0 0 25px var(--maincolor);

}

#menu{
    font-size: 2rem;
    display: none;
}

/* main section  */
.main{
    min-height: 100vh;
    padding: 10rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.main-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 3rem;

}
.main-content span{
    color: var(--maincolor);
}
.main-content h2{
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 1.2;
}
.main-content h2 span{
    font-size: 2.7rem;
    letter-spacing: 1px;
    font-weight: 800;
}

.main-content h3{
    font-size: 1.4rem;
    font-weight: 500;
    /* text-shadow: 0 0 25px var(--maincolor); */
}
.main-content p{
    color: var(--textcolor);
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 0;
    line-height: 1.5;
}

#element{
    text-shadow: 0 0 10px var(--maincolor);

}

.social-icons a{
    justify-content: center;
    color: var(--textcolor);
    padding-right: 1.2vw;
    font-size: 1.8rem;
}

.social-icons  i:hover{
    color: var(--maincolor);
    transform: scale(1.3)translateY(-3px);
    text-shadow: 0 0 25px var(--maincolor);
}

.main-img {
    border-radius: 50%;
}
.main-img img{
    position: relative;
    width: 20vw;
    border-radius:100%;
    cursor: pointer;
    box-shadow: 0 0 25px var(--maincolor);
    transition: 0.4s ease;
}
.main-img img:hover{
    box-shadow: 0 0 25px var(--maincolor),
                0 0 50px var(--maincolor),
                0 0 100px var(--maincolor)
}
.contact-btn { 
    line-height: 1.5;
}
.contact-btn a{
    color: var(--bgcolor);
    background: var(--maincolor);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 0.8rem 2rem;
    border-radius: 2vw;
    line-height: 4;
    transition: 0.3s ease;
}
.contact-btn .btn:hover{
    box-shadow: 0 0 25px var(--maincolor);
    font-weight: 600;
    
} 

.about{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, .5fr);
    justify-content: space-between;
    min-height: 100vh;
    padding: 10rem  6rem;
}
.about-img{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-right: 10%;
    margin-top: 2.5%;
    opacity: 1;
    cursor: pointer;
}
.about-img img{
    width: 100%;
    height: auto;
    max-width: 490px;
    max-height: 490px;
    border-radius: 90px;
    border: 5px solid var(--maincolor);
}

.about-img img:hover{
    transition: 0.3s ease;
    box-shadow: 0 0 15px var(--maincolor),
                0 0 50px var(--maincolor);
}

.about-text h2{
    font-size: 3rem;
    letter-spacing: 4px;
    /* border-bottom: 5px solid var(--maincolor); */
}
.about-text h2 span{
    color: var(--maincolor);
    text-shadow: 0 0 25px var(--maincolor);
}
.about-text p{
    color: var(--whitecolor);
    font-weight: 200;
    font-size: 1.3rem;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    text-align: justify;
    text-justify: inter-word;
}
.about-text {
    margin-right: 2%;
}
.contact-btn {
    background: var(--maincolor);
    font-size: 1.3rem;
    border-radius: 40px;
    padding:  0.5rem 1rem ;
    letter-spacing: 1px;
    color: var(--blackcolor);
    font-weight: 500;
}
.contact-btn:hover{
    transition: 0.3s ease;
    box-shadow: 0 0 5px var(--maincolor),
                0 0 25px var(--maincolor),
                0 0 50px var(--maincolor);
}

/* skills  */
.Title {
    text-align: center;
    padding-top: 70px;
    /* padding-bottom: 10px ; */
    font-size: 2rem;
    letter-spacing: 3px;
}
.Title mark{
    text-shadow: 0 0 25px var(--maincolor);
    color: var(--maincolor);
    /* background: #000; */
    background: var(--bgcolor);
}
.skills{
    padding: 10px 10px;
    width: 800px;
    margin: 60px auto;
    color: var(--whitecolor);
    border-radius: 25px;
    cursor: pointer;
}
.icn{
    color: var(--maincolor);
}
.skills:hover{
    transition: all 0.3s  ease-in-out;
    box-shadow: 0 14px 28px var(--maincolor), 0 10px 10px var(--maincolor);

}

.skills li{
    letter-spacing: 4px;
    font-size: 1rem;
    padding: 10px ;
}

.bar{
    background: #292828;
    display: block;
    height: 20px;
    border: 1px solid var(--maincolor);
    border-radius: 10px;
    overflow: hidden;

    /* box-shadow: 0 1px 3px var(--maincolor) , 0 1px 2px var(--maincolor); */
    /* box-shadow: 0 1px 3px rgba(230, 57, 5, 0.12), 0 1px 2px rgba(226, 10, 10, 0.24); */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
/* .bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

} */
.bar span{
    height: 20px;
    float: left;
    /* background: linear-gradient(135deg , rgb(236, 55, 0)0% , rgba(252,103,1)100%); */
    background: linear-gradient(135deg , rgb(189, 7, 116)0% , rgba(252,103,1)100%);
}

.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 70%;
    animation: css 3s;
}
.javascript{
    width: 60%;
    animation: javascript 3s;
}
.python{
    width: 60%;
    animation: python 3s;
}
.c{
    width: 50%;
    animation: c 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes c{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

/* project section  */
.projects{
    padding-top: 50px;
    margin-top: 10px;
    padding-bottom: 130px;
}
.projects h2{
    font-size: 28px;
    line-height: 1;
    text-align: center;
    padding: 30px;
    padding-bottom: 100px;
    letter-spacing: 3px;
}

.projects h2 span{
    color: var(--maincolor);
    text-shadow: 0 0 25px var(--maincolor);
    
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(259px,auto));
    align-items: center;
    justify-content: space-around;
}
.pics{
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    padding: 0;
    overflow: hidden;
}
.pics img{
    /* border: 2px solid  #f75c2d; */
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 18px;
    display: block;
    transition: transform 0.5s;
    /* padding: 25px; */
}
.layer{
    border: 2px solid  #f75c2d;
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    height: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(rgba(41, 30, 30, 0.5), #ad492b);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    transition:  0.5s;
}
.layer h4{
    color:rgb(243, 239, 239);
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: #ebebeb;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.8;
    text-align: justify;

}
.layer i{
    margin-top: 20px;
    font-size: 20px;
    background: #000;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.pics:hover img{
    transform: scale(1.04);

}
.pics:hover .layer{
    height: 100%;
    opacity: 1;
}

/* contact section  */
.contact{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 40px;
    height: 500px;
    /* background-image: url(img/world.jpg); */
    background-size: cover;
    background-repeat: no-repeat;

}
.contact-text{
    letter-spacing: 2px;
    align-content: center;
}
.contact-text h2{
    font-size: 55px;
    line-height: normal;
}
.contact-text h2 span{
    color: var(--maincolor);
    text-shadow: 0 0 25px var(--maincolor);
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-family: 20px;
    font-weight: 600;
}

.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: var(--maincolor);
    font-size: 20px;
    font-weight: 600;
    transition: all 0.4s ease;
    padding: 10px;
}

.contact-icons i{
    color: var(--maincolor);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--maincolor);
    border-radius: 50%;
    font-size: 20px;
    margin: 0px 15px 0px 0;
    opacity: 1;
}
.contact-icons i:hover {
    transition: all 0.4s ease;
    background: #f75c2d;
    color: #000;
    box-shadow: 0 0 25px var(--maincolor);
    transform: scale(1.2);
}
.last-text p{
    color: var(--maincolor);
    text-align: center;
    padding: 25px;
    font-weight: 300;
    margin-top: 0;
    letter-spacing: 1px;
}
/* .top{
    position: fixed;
    bottom: 2.1rem;
    left: 1rem;
    display: flex;
    opacity: 0;
    transition: all 0.4s;
}
.top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
.top i{
    color: #000;
    background: #f75c2d;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
.top i:hover{
    box-shadow: 0 0 5px var(--maincolor),
    0 0 25px var(--maincolor), 0 0 50px var(--maincolor),0 0 200px var(--maincolor);
} */
